.mac {
  width: 722px;
  height: 410px;
  margin: auto;
  background: url("../img/mac.png");
  background-repeat: no-repeat;
  margin-top: -320px;
  margin-bottom: 40px;
  padding-top: 158px;
  text-align: center;
  &__link {
    color: #5c37ef;
    font-family: "Tahoma";
    &:hover {
      text-decoration: none;
      color: rebeccapurple;
    }
  }
  @media(max-width:457px) {
    margin-top: -240px;
  }
}