html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font);
  font-size: 16px;
}

.wrapper {
  max-width: 1003px;
  margin: auto;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.12);
}

.inner-wrapper {
  max-width: 800px;
  margin: auto;
}

.yet {
  margin-bottom: 0;
  padding-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
  @media(--desktop-widths) {
    padding-left: 0;
    padding-right: 0;
  }
}